<h3>Booking confirmed</h3>
<p class="mt-4">
<% current_balance = current_user.wallet.balance %>

<% if current_user.wallet.update(balance: current_balance -120) %>
  <strong>Booking confirmed. Ticket amount debited from your wallet!</strong>
  <strong>Your updated wallet balance is: Rs.<strong><%= current_user.wallet.balance %>
<% else %>
  <%= flash[:alert] = "Booking failed. Please check your wallet status and try again!" %>
<% end %>

<p>

<p>
  <strong>Seat id:</strong> P10
</p>