<h3>Booking confirmed</h3>
<p>
<%= current_user.wallet = current_user.wallet -120 %>
  <strong>Your pdated wallet balance is: Rs.<strong><%= current_user.wallet.balance %>
<p>

<p>
  <strong>Ticket id:</strong> P10
</p>